$red: #fe4243;
$dark_red: #932d3e;
$light_red: #f8a5a5;
$grey_100: #353535;
$grey_200: #252525;
$grey_300: #181818;
$black: #131313;
$grey_50: #d0d5b7;
$white: #fafafa;
$border-radius: 6px;
$border-radius-1: 4px;