@use 'vars' as *;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  background: $grey_300;
  min-height: 100vh;
  height: fit-content;
  color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  width: fit-content
}

a {
  color: inherit;
  text-decoration: none;

  &.link {
    color: rgba($red, .5);

    &:hover {
      text-decoration: underline;
      color: $red;
    }
  }
}

// Scrollbar
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba($red, .75);
  cursor: pointer;
  transition: all 0.3s;
  border-radius: $border-radius-1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $red;
}