---
import Layout from '../layouts/Layout.astro';
import FirstView from '../components/FirstView.astro';
import WorkSystem from '../components/WorkSystem.astro';
import Business from '../components/Business.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Loick Team | A new way of launching projects">
	<main>
		<FirstView/>
		<div class="mt-12 bg-loick-red h-[1px] w-40 ml-20"></div>
		<WorkSystem />
		<div class="mt-12 bg-loick-red h-[1px] w-40 ml-20"></div>
		<Business />
		<div class="mt-12 bg-loick-red h-[1px] w-40 ml-20"></div>
		<Footer />
	</main>
</Layout>


