---

export interface Props {

}

---
<section class="mt-8 flex flex-col items-center justify-center select-none text-center">
    <h2 class="text-4xl font-bold">Business Idea</h2>
    <p class="text-xl mt-2 w-[70%]">It is a nice project for people who do not have capital to launch their product, but for it to be sustainable over time, there has to be a monetization system of the platform. This system is based on obtaining percentages of ownership of each product that is exposed on the platform, in this way if a product developed through the LoickTeam platform reaches market share the LoickTeam organization acquires a percentage of ownership and profits of this product.</p>
</section>