---

export interface Props {

}

---
<section class="mt-8 flex flex-col items-center justify-center select-none text-center">
    <h2 class="text-4xl font-bold">Coop-work-system</h2>
    <p class="text-xl mt-2 w-[70%]">LoickTeam solves the problem of people who have a project but lack sufficient capital for the development of their product. Through a cooperative work system, it is not necessary to have capital for the creation of technological products since our platform is designed to partner with other entrepreneurs who will work on the project in exchange for a percentage of ownership or benefit of the product once it is launched on the market.</p>
</section>